*{
  font-family: 'Inter', sans-serif;
  
}

body{
  margin: 0;
}

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* --------------------------Input Name------------------------------------------------------------ */

.input-name{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-name img{
  width: 600px;
  height: auto;
  left: 389px;
  top: 256px;
}

.input-name h1{
  color: red;
  font-weight: 700;
  font-size: 45px;
  line-height: 61px;
  margin-top: 70px;
  margin-bottom: 0;
}

.input-name h3{
  font-weight: 500;
font-size: 25px;
line-height: 30px;
}

.input-name input{
  width: 562px;
  height: 48px;
  left: 389px;
  top: 595px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.input-name button{
  color: white;
  border: none;
  width: 180px;
  height: 55px;
  left: 841.79px;
  top: 595px;
  background: #D93F3F;
  cursor: pointer;
  letter-spacing: 2px;
  overflow: hidden;
  transition: .3s;
  }

  .input-name button:hover{
    color: #FFFFFF;
    box-shadow: 0 5px 5px rgba(128, 128, 128, 0.418);
  }

/* -----------------pokedex----------------------------------------------------------------------- */
/* Nav------------------------------------------------------- */
.red-nav{
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #DD1A1A;
}

.black-nav{
  width: 100%;
  height: 29.7px;
  left: 0px;
  top: 111.3px;
  background: #0C0C0C;
}

.circle1{
  box-sizing: border-box;
  position: absolute;
  width: 97px;
  height: 97px;
  left: 1238px;
  top: 58px;
  background: #FFFFFF;
  border: 12px solid #000000;
  border-radius: 50%;
}

.circle2{
  box-sizing: border-box;
  position: absolute;
  width: 43px;
  height: 43px;
  left: 1265px;
  top: 85px;
  background: #212121;
  border: 12px solid #000000;
  border-radius: 50%;
}

/* Image-------------------------------------------- */

#image-title{
  width: 300px;
  height: auto;
  left: 0;
  top: 0;
  margin: 20px 0 0 40px;
  position: absolute;
}

#welcome{
  margin-left: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

/* Inputs---------------------------------------- */

.inputs-pokedex{
  display: flex;
  margin: 10px 0 30px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.inputs-pokedex div{
  margin-left: 40px;
}

.search-pokemon input{
  width: 400px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.inputs-pokedex button{
  width: 170px;
  height: 45px;
  background: #d93f3f;
  border: none;
  color: rgba(255, 255, 255, 0.795);
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  transition: .3s;
}

.inputs-pokedex button span{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgb(180, 46, 46, .2);
  top: -50%;
  left: -100%;
  transition: .4s;
}

.inputs-pokedex button:hover span{
  left:0;
}

.inputs-pokedex button:hover{
  color: #FFFFFF;
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.418);
}

.pokemons-page input{
  width: 50%;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.pokemons-page button{
  width: 100px;
  height: 45px;
  background: #D93F3F;
  border: none;
  color: white;
  cursor: pointer;
}

.inputs-pokedex select{
  margin-left: 25px;
  width: 200px;
  height: 40px;
  left: 830.16px;
  top: 275px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

/* Cards---------------------------------------------*/

.card{
  height: 383px;
  width: 261px;
  left: 444px;
  top: 1344px;
  border-radius: 4px;
  margin: 0 33px 72px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 400ms ease;
  text-transform: capitalize;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img{
  height: auto;
  width: 159px;
  margin-left: 50px;
}

.pokedex ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info{
  height:221px;
  color: gray;
  background-color: rgba(255, 255, 255, 0.788);
  font-size: 14px;
  display: flex;
  position: sticky;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.info div{
  width: 100%;
  height: fit-content;
}

.info-char{
  display: flex;
}

/*Pagination----------------------------------------------*/

.pagination{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination button{
  height: 50px;
  width: 45px;
  background-color: #D93F3F;
  transition: all 300ms ease;
  border: none;
  margin: 10px;
  color: #D3D3D3;
  cursor: pointer;
}

.pagination button:hover{
  color: #FFFFFF;
  box-shadow: 0 7px 7px rgba(128, 128, 128, 0.418);
  transform: translateY(-6%);
}

/* Pokemon Detail--------------------------------------------------- */

.poke-detail{
  text-transform: capitalize;
  width: 100%;
  height: 100vh;
}

.poke-detail img{
  display: flex;
  width: 341px;
  height: 314px;
  left: 550px;
  top: 195px;
}

.pokemon{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 150px;
}

.type-abilities{
  display: flex;
  justify-content: space-between;
}

.type-abilities div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.types{
  display: flex;
  width: 200px;
}
 .abilities{
  display: flex;
  width: 200px;
 }

.type-abilities p{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 27px;
  left: 730px;
  top: 857px;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
}

.first-details{
  width: 80%;
  padding: 30px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title div{
  width: 95%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.progress-bar{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.progress-bar progress{
  height: 20px;
  border-radius: 3px;
  border: #212121;
}

.second-details{
  width: 80%;
  padding: 30px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.poke-moves{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-moves div{
  width: 175px;
  height: 64px;
  margin: 10px;
  background-color: #E5E5E5;
  text-align: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width:768px){
  .input-name img{
    width: 70%;
    height: auto;
    left: 389px;
    top: 256px;
  }

  .input-name h1{
    font-size: 30px;
    margin-top: 40px;
  }
  
  .input-name h3{
    font-size: 20px;
    margin-top: 5px;
  }

  .input-name input{
    width: 200px;
  }
  
  .input-name button{
    width: 60px;
  }
/* Pokedex-------------------------------------------------------------------------------------------------- */
  .circle1{
    width: 77px;
    height: 77px;
    left: 270px;
    top: 58px;
  }

  .circle2{
    width: 33px;
    height: 33px;
    left: 292px;
    top: 81px;
  }

  #image-title{
    width: 200px;
    margin: 20px 0 0 10px;
  }

  #welcome{
    margin-left: 10px;
    margin-top: 30px;
    font-size: 18px;
  }
  

  .search-pokemon input{
    width: 200px;
    height: 30px;
  }

  .inputs-pokedex button{
    width: 70px;
    height: 35px;
  }

  .pokemons-page input{
    width: 50%;
    height: 30px;
  }
  
  .pokemons-page button{
    width: 70px;
    height: 35px;
  }
  
  .inputs-pokedex select{
    text-transform: capitalize;
    margin-left: 70px;
    width: 150px;
    height: 30px;
    margin-top: 10px;
  }
  
  /* Pokemon detail -----------------------------------------------------------------------------------*/

  .poke-detail img{
    width: 200px;
    height: auto;
  }
  
  .pokemon{
    width: 85%;
    margin-left: 30px;
  }

  .title h1{
    margin: 0;
  }

  .types{
    width: 80px;
  }

  .type-abilities h3{
    margin: 0;
  }

  .abilities{
    width: 80px;
  }

  .progress-bar{
    margin: 0;
    width: 90%;
  }

  .second-details h2{
    margin-top: 0;
  }

  .poke-moves div{
    width: 100px;
    font-size: 13px;
    height: 44px;
  }

  .pages{
    display: none;
  }

  .pagination{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .pagination button{
    height: 40px;
    width: 30px;
  }
}